<!DOCTYPE html>
<html>

<head>
   
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



 	<!-- Alert -->
 	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


	<!--Ovo je za mapu -->
	<link rel="stylesheet" type="text/css" href="v6.4.3-dist/ol.css">
	<link href="https://cdn.jsdelivr.net/npm/ol-geocoder@latest/dist/ol-geocoder.min.css" rel="stylesheet">
	<script src="https://unpkg.com/vue-toasted"></script>  

 <!--Kalendar 
<link rel="stylesheet" type="text/css" href="bootstrap-datepicker3.css" /> 	
 -->
 




<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet"/>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />




</head> 

<body>
<div id="aplication">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-dark">
  		<a class="navbar-brand" href="#/">ApartmantApp</a>
		<div class="container-fluid nav nav-pills" role="tablist">
			<!-- Left -->
		    
	    	<a class="nav-link bg-light ml-2 mr-2"  href="#/apartments">Apartmani</a>

		   	<a v-if="mode==='ADMINISTRATOR'" class="nav-link bg-light ml-2 mr-2"  href="#/allUsers">Korisnici</a>

		   	<a v-if="mode==='HOST'" class="nav-link bg-light ml-2 mr-2"  href="#/allReviews">Korisnici</a>

		   	<a v-if="mode!='NO_LOGIN'" class="nav-link bg-light ml-2 mr-2"  href="#/reservation">Rezervacije</a>

		   	<a v-if="mode==='ADMINISTRATOR'" class="nav-link bg-light ml-2 mr-2"  href="#/contentsOfApartment">Sadrzaj apartmana</a>

		   	<a v-if="mode==='HOST'" class="nav-link bg-light ml-2 mr-2"  href="#/createApartment">Dodaj apartman</a>





		     
	     	<!-- Right -->
		   	<a v-if="mode==='NO_LOGIN'" class="nav-link bg-light ml-auto mr-2" href="#/registration">Registrovanje gosta</a>
		    
		   	<a v-if="mode==='NO_LOGIN'" class="nav-link bg-light ml-2 mr-2" href="#/login">Prijavljivanje</a>

			<a v-if="mode!='NO_LOGIN'" class="nav-link bg-light ml-auto mr-2" href="#/profile">Profil</a>
		    
		    <a v-if="mode!='NO_LOGIN'" class="nav-link bg-light ml-2 mr-2"   v-on:click.prevent="logout" href="#/login">Odjavi se</a>

		</div>			
	</nav>

    <router-view></router-view>
  

</div>



<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/axios.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/toast.js"></script>



<!-- Kalendar  bootstrap-datepicker.js
<script src="js/bootstrap-datepicker.js"></script>


-->







<script src="v6.4.3-dist/ol.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ol-geocoder"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
        <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> 
        </script> 
        <script src= 
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> 
        </script> 

<!--

-->


<script src="app/login.js"></script>
<script src="app/registration.js"></script>
<script src="app/profile.js"></script>
<script src="app/allUsers.js"></script>
<script src="app/allReviews.js"></script>
<script src="app/apartment.js"></script>

<script src="app/apartments.js"></script>
<script src="app/validationAcces.js"></script>
<script src="app/createApartment.js"></script>
<script src="app/contentsOfApartment.js"></script>
<script src="app/changeApartment.js"></script>

<script src="app/reservation.js"></script>
<script src="app/addcomments.js"></script>


<script src="app/app.js"></script>


</body>
</html>